<%= form_for(object, url: redirect_url) do |f| %>
  <%= render "shared/admin/errors", errors: object&.errors %>

  <div class="row">
    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :institution_type %>
        <%= f.select :institution_type, options_for_select(Institution::INSTITUTION_TYPE.map {|institution_type| [institution_type.capitalize, institution_type]}, selected: f.object&.institution_type), { include_blank: "Select Type" }, { class: "form-control", id: "institution_type", placeholder: "Type" } %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Institution::STATUS.map {|status| [status.capitalize, status]}, selected: f.object&.status), { include_blank: "Select status" }, { class: "form-control", placeholder: "Status" } %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :ownership %>
        <%= f.text_field :ownership, class: "form-control", placeholder: "Ownership" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :area %>
        <%= f.text_field :area, class: "form-control", placeholder: "Area" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :country %>
        <%= f.text_field :country, class: "form-control", placeholder: "Country" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :state %>
        <%= f.select :state_id, options_for_select(states.map {|state| [state.name, state.id]}, selected: f.object&.state_id), { id: "state", placeholder: "State" }, { class: "form-control" } %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control", placeholder: "City" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :address %>
        <%= f.text_area :address, class: "form-control", placeholder: "Address" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :post_code %>
        <%= f.text_field :post_code, class: "form-control", placeholder: "Post Code" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :latitude %>
        <%= f.text_field :latitude, class: "form-control", placeholder: "Latitude" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :longitude %>
        <%= f.text_field :longitude, class: "form-control", placeholder: "Longitude" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :short_desc %>
        <%= f.text_field :short_desc, class: "form-control", placeholder: "Short Description" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :logo %>
        <%= f.file_field :logo, class: "form-control", placeholder: "Logo" %>
        <%= check_image(object: f.object, field_name: "logo") %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :reputation %>
        <%= f.number_field :reputation, class: "form-control", placeholder: "Reputation" %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :size %>
        <%= f.number_field :size, class: "form-control", placeholder: "Size" %>
      </div>
    </div>

    <% if current_staff.blank? %>
      <div class="col-sm-12">
        <div class="mb-3">
          <%= f.label :staffs %>
          <%= select_tag "institution[staff_ids][]", options_for_select(staffs.map {|staff| [staff.name, staff.id]}, selected: f.object&.interest_ids), { class: "form-control", id: "interest", placeholder: "Staffs", multiple: true, include_blank: "-- Select Staffs --" } %>
        </div>
      </div>
    <% end %>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :interests %>
        <%= select_tag "institution[interest_ids][]", options_for_select(interests.map {|interest| [interest.name, interest.id]}, selected: f.object&.interest_ids), { class: "form-control", id: "interest", placeholder: "Interests", multiple: true, include_blank: "-- Select Interests --" } %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :study_levels %>
        <%= select_tag "institution[study_level_ids][]", options_for_select(study_levels.map {|study_level| [study_level.name, study_level.id]}, selected: f.object&.interest_ids), { class: "form-control", id: "study_level", placeholder: "Study Levels", multiple: true, include_blank: "-- Select Study Levels --" } %>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <div class="form-group row">
          <%= f.fields_for :institution_majors do |institution_major| %>
            <%= render "institution_major_fields", f: institution_major %>
          <% end %>
          <div class="offset-sm-10 col-sm-2 control-label">
            <%= link_to_add_association raw("<i class='fa fa-plus'></i> Add new majors"), f, :institution_majors, { class: "btn btn-success", style: "float: right;", data: { turbo: false } } %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="mb-3">
        <div class="form-group row">
          <%= f.fields_for :images do |image| %>
            <%= render "image_fields", f: image %>
          <% end %>
          <div class="offset-sm-10 col-sm-2 control-label">
            <%= link_to_add_association raw("<i class='fa fa-plus'></i> Add new image"), f, :images, { class: "btn btn-success", style: "float: right;", data: { turbo: false } } %>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap gap-2">
      <% action = ["create", "new"].include?(params[:action]) ? "Create" : "Update" %>
      <%= f.submit "#{action} Institution", class: "btn btn-primary waves-effect waves-light" %>
      <%= link_to "Cancel", send("#{current_admin_panel.class_name}_institutions_path"), class: "btn btn-secondary waves-effect waves-light", data: { turbo: false } %>
    </div>
  </div>
<% end %>
