<%= form_for(object, url: redirect_url) do |f| %>
  <%= render "shared/admin/errors", errors: object&.errors %>

  <div class="row">
    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :institution_type %>
        <%= f.select :institution_type, options_for_select(Institution::INSTITUTION_TYPE.map {|institution_type| [institution_type.capitalize, institution_type]}, selected: f.object&.institution_type), { include_blank: "Select Type" }, { class: "form-control", id: "institution_type", placeholder: "Type" } %>
      </div>
      <div class="mb-3">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Institution::STATUS.map {|status| [status.capitalize, status]}, selected: f.object&.status), { include_blank: "Select status" }, { class: "form-control", placeholder: "Status" } %>
      </div>
      <div class="mb-3">
        <%= f.label :ownership %>
        <%= f.text_field :ownership, class: "form-control", placeholder: "Ownership" %>
      </div>
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
      <div class="mb-3">
        <%= f.label :area %>
        <%= f.text_field :area, class: "form-control", placeholder: "Area" %>
      </div>
      <div class="mb-3">
        <%= f.label :country %>
        <%= f.text_field :country, class: "form-control", placeholder: "Country" %>
      </div>
      <div class="mb-3">
        <%= f.label :state %>
        <%= f.text_field :state, class: "form-control", placeholder: "State" %>
      </div>
      <div class="mb-3">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control", placeholder: "City" %>
      </div>
      <div class="mb-3">
        <%= f.label :address %>
        <%= f.text_area :address, class: "form-control", placeholder: "Address" %>
      </div>
      <div class="mb-3">
        <%= f.label :post_code %>
        <%= f.text_field :post_code, class: "form-control", placeholder: "Post Code" %>
      </div>
      <div class="mb-3">
        <%= f.label :latitude %>
        <%= f.text_field :latitude, class: "form-control", placeholder: "Latitude" %>
      </div>
      <div class="mb-3">
        <%= f.label :longitude %>
        <%= f.text_field :longitude, class: "form-control", placeholder: "Longitude" %>
      </div>
      <div class="mb-3">
        <%= f.label :short_desc %>
        <%= f.text_field :short_desc, class: "form-control", placeholder: "Short Description" %>
      </div>
      <div class="mb-3">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", placeholder: "Description" %>
      </div>
      <div class="mb-3">
        <%= f.label :logo %>
        <%= f.file_field :logo, class: "form-control", placeholder: "Logo" %>
      </div>
      <div class="mb-3">
        <%= f.label :reputation %>
        <%= f.number_field :reputation, class: "form-control", placeholder: "Reputation" %>
      </div>
      <div class="mb-3">
        <%= f.label :size %>
        <%= f.number_field :size, class: "form-control", placeholder: "Size" %>
      </div>
      <div class="mb-3">
        <%= f.label :interests %>
        <%= select_tag "institution[interest_ids][]", options_for_select(interests.map {|interest| [interest.name, interest.id]}, selected: f.object&.interest_ids), { class: "form-control", id: "interest", placeholder: "Interests", multiple: true } %>
      </div>
    </div>

    <div class="d-flex flex-wrap gap-2">
      <% action = ["create", "new"].include?(params[:action]) ? "Create" : "Update" %>
      <%= f.submit "#{action} Institution", class: "btn btn-primary waves-effect waves-light" %>
      <%= link_to "Cancel", admin_institutions_path, class: "btn btn-secondary waves-effect waves-light", data: { turbo: false } %>
    </div>
  </div>
<% end %>
