<tr id="<%= dom_id(study_level) %>">
  <td><%= study_level.name %></td>
  <td><%= date_format(study_level.created_at, "datetime") %></td>
  <td><%= date_format(study_level.updated_at, "datetime") %></td>
  <td class="text-end">
    <div class="d-flex gap-3">
      <%= link_to raw("<i class='mdi mdi-pencil font-size-18'></i>"), send("edit_#{current_admin_panel.class_name}_study_level_path", study_level), class: "text-success", "data-bs-toggle": "tooltip", "data-bs-placement": "top", "title": "Update" if action_policy("update") %>
      <%= link_to raw("<i class='mdi mdi-delete font-size-18'></i>"), send("#{current_admin_panel.class_name}_study_level_path", study_level), class: "text-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, "data-bs-toggle": "tooltip", "data-bs-placement": "top", "title": "Delete" if action_policy("destroy") %>
    </div>
  </td>
</tr>
