<%= form_for(object, url: redirect_url) do |f| %>
  <%= render "shared/admin/errors", errors: object&.errors %>

  <div class="row">
    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
      <div class="mb-3">
        <%= f.label :icon %>
        <%= f.file_field :icon, class: "form-control", placeholder: "Icon" %>
        <%= check_image(object: f.object, field_name: "icon") %>
      </div>
      <div class="mb-3">
        <%= f.label :icon_color %>
        <%= f.text_field :icon_color, class: "form-control", placeholder: "Icon Color" %>
      </div>
    </div>

    <div class="d-flex flex-wrap gap-2">
      <% action = ["create", "new"].include?(params[:action]) ? "Create" : "Update" %>
      <%= f.submit "#{action} Interest", class: "btn btn-primary waves-effect waves-light" %>
      <%= link_to "Cancel", send("#{current_admin_panel.class_name}_interests_path"), class: "btn btn-secondary waves-effect waves-light", data: { turbo: false } %>
    </div>
  </div>
<% end %>
