<%= form_for(object, url: redirect_url) do |f| %>
  <%= render "shared/admin/errors", errors: object&.errors %>

  <div class="row">
    <div class="col-sm-12">
      <div class="mb-3">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
      <div class="mb-3">
        <%= f.label :actions %>
        <fieldset class="main-fieldset">
          <div class="form-check form-check-custom form-check-solid checkbox">
            <%= check_box_tag nil, nil, false, class: "form-check-input selectAll", id: "selectAll" %>
            <label class="form-check-label" for="selectAll">Select All</label>
          </div>
          <hr class="border border-dark opacity-25">
          <% actions.each do |category| %>
            <fieldset>
              <div class="form-check form-check-custom form-check-solid checkbox">
                <%= check_box_tag nil, nil, false, class: "form-check-input parentCheckBox" %>
                <label class="form-check-label"><%= category.first %></label>
              </div>
              <% actions[category.first].each do |action| %>
                <div class="form-check form-check-custom form-check-solid checkbox mb-3 mt-3 ms-3">
                  <%= check_box_tag "role[action_ids][]", action.id, object.present? ? object.action_ids.include?(action.id) : false, class: "form-check-input subchildCheckBox" %>
                  <label class="form-check-label"><%= action.name %></label>
                </div>
              <% end %>
            </fieldset>
          <% end %>
        </fieldset>
      </div>
    </div>

    <div class="d-flex flex-wrap gap-2">
      <% action = ["create", "new"].include?(params[:action]) ? "Create" : "Update" %>
      <%= f.submit "#{action} Role", class: "btn btn-primary waves-effect waves-light" %>
      <%= link_to "Cancel", admin_roles_path, class: "btn btn-secondary waves-effect waves-light", data: { turbo: false } %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "role_form" %>