<%= turbo_frame_tag "content" do %>
  <% title = "Create State" %>

  <% content_for :breadcrumb do %>
    <%= render(Admin::BreadcrumbComponent.new(title: title, links: [{ url: send("#{current_admin_panel.class_name}_states_path"), title: "List States" }]), content_type: "text/html") %>
  <% end %>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= title %></h4>

          <%= turbo_frame_tag "form" do %>
            <%= render "form", object: @object, **@parent %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
