<!DOCTYPE html>
<html>
  <head>
    <title>Study2U Admin - Sign In</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "template" %>
  </head>

  <body>
    <div class="account-pages my-5 pt-sm-5">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="card overflow-hidden">
              <div class="bg-primary bg-soft">
                <div class="row">
                  <div class="col-7">
                    <div class="text-primary p-3">
                      <h5 class="text-primary">Study2U</h5>
                      <p>Sign in to continue to Dashboard.</p>
                    </div>
                  </div>
                  <div class="col-5 align-self-end">
                    <%= image_tag("profile/img-1.png", class: "img-fluid") %>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="auth-logo">
                  <span class="auth-logo-light">
                    <div class="avatar-md profile-user-wid mb-4">
                      <span class="avatar-title rounded-circle bg-light">
                        <%= image_tag("logo/img-1.svg", class: "rounded-circle", height: "34") %>
                      </span>
                    </div>
                  </span>

                  <span class="auth-logo-dark">
                    <div class="avatar-md profile-user-wid mb-4">
                      <span class="avatar-title rounded-circle bg-light">
                        <%= image_tag("logo/img-1.svg", class: "rounded-circle", height: "34") %>
                      </span>
                    </div>
                  </span>
                </div>
                <div class="p-2">
                  <%= yield %>
                </div>
              </div>
            </div>
            <div class="mt-5 text-center">
              <div>
                <p>
                  © 2023
                  Study2U.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
